<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
             <h3>Pro</h3>   
            <p>Hi! I'm Kai (Kazbek Abraliev), a beginner web developer based in Syracuse, NY. I specialize in website design, database development, web and apps QA testing. <br>I create well-designed, usable, professional websites using best practice accessibility and the latest W3C web standards guidelines, resulting in semantic and seo friendly html5 and css. I also use php and sql for creating online databases. My CMS of choice are WordPress and Expression Engine.</p>

            <h3>Edu</h3>
            <p>Currently, I'm taking an online course on Java Scripts, front end and Android apps development and taking courses on web development and relational databases at Onondaga Community College.</p>

            <h3>Per</h3>
            <p>I live in Syracuse, NY with my wife Jenny, son Adi and baby girl Aly. Originally I'm from Kyrgyzstan, a country in the Central Asia which was a part of USSR. I speak English, Russian and Kyrgyz. I love travelling, spending time with my family, photography and skiing.</p>
        </div>
        
    </div>
</section>