<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contacts</h1>

                <div>
                    <a href="http://www.facebook.com/kazbeka">
                    <img class="sm-icons" width="50" height="auto" src="images/facebook_circle.png" alt="Facebook"/></a>
                    <a href="http"//www.pinterest.com>
                    <img class="sm-icons" width="50" height="auto" src="images/pinterest_circle.png" alt="Pinterest"/></a>
                    <a href="http://www.twitter.com/kebzaq">
                    <img class="sm-icons" width="50" height="auto" src="images/twitter_circle.png" alt=Twitter/></a>
                    <a href="http://www.google.com">
                    <img class="sm-icons" width="50" height="auto" src="images/google_circle.png" alt="Google"/></a>
                    <a href="http://www.linkedin.com">
                    <img class="sm-icons" width="50" height="auto" src="images/linkedin_circle.png" alt="LinkedIn"/></a>
                    <a href="mailto:{{ site.email }}">
                    {{ site.email }} 
                    <img class="sm-icons" width="50" height="auto" src="images/email_circle.png" alt="Email me"/>
                    </a>
        </div>

            </div>
            <!--<div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>-->
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
        </div>
    </div>
</footer>